/* Place your extensions here to make migration to a new release easier. */
.layout-topbar1 {
  background-image: url("/assets/layout/images/header.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
